
<div class="row task">
  <div class="mt-3   col-md-4 col-lg-3" *ngFor="let t of tasks">
     <div class="card  shadow-lg  rounded"  [ngClass]="{'text-card-end':t.isEnd}">
       <div class="card-header">
         <div class="d-flex justify-content-around">
           <button class="btn fs-8 " *ngIf="!t.isEnd" (click)="endOfTask(t,true)">End?  <i
             class="fa fa-circle-o text-warning"></i></button>

           <button class="btn fs-8" *ngIf="t.isEnd" (click)="endOfTask(t,false)">Start?  <i
             class="fa  fa-check-circle-o text-white  ml-2"></i></button>

           <i class="fa fa-trash text-danger btn" (click)="deleteTask(t)"></i>

           <i class="fa fa-edit text-primary btn" *ngIf="!t.isEdit" (click)="letEdit(t)"></i>

           <i class="btn fa fa-save text-primary" *ngIf="t.isEdit" (click)="editTask(t)"></i>

         </div>
       </div>
       <div class="card-body">
         <div class="row">
           <div class="col-md-12 col-lg-12">
             <textarea rows="2" [disabled]="!t.isEdit" [(ngModel)]="t.name" class="fs-8 input-group form-control"></textarea>
           </div>
           <div class="input-group mt-3 col-md-3 col-lg-4 fs-8">
             <span class="input-group-text fs-8" id="basic-addon1 ">Due date</span>
             <input type="date" class="form-control fs-8" [disabled]="!t.isEdit" [(ngModel)]="t.dueDate">
           </div>
           <div class="row col-md-12"  *ngIf="t.isEdit">
             <label class="col-md-4 mt-3 ms-3">Level :</label>
             <div class="col-md-7 mt-2">
               <select [(ngModel)]="t.level" class="form-select ">
                 <option value="weak">weak</option>
                 <option value="middle">middle</option>
                 <option value="high">high</option>
               </select>
             </div>
           </div>
           <div class="row col-md-12"  *ngIf="!t.isEdit">
             <label class="col-md-4 mt-3 ms-3">Level :</label>
             <div class="col-md-5 mt-3 ">
               <i class="text-capitalize ms-2">{{t.level}} <sup><i
                 class="text-danger fa fa-flag"></i></sup></i>
             </div>
           </div>

         </div>
       </div>
     </div>
  </div>
</div>
