<div class="row mt-4 container-fluid">
    <ng-container *ngIf="tasks$|async as result" [ngSwitch]="result.state">
      <h2 class="text-center fst-italic" *ngIf="result.data?.length"><u>List of tasks</u></h2>

      <ng-container *ngSwitchCase="DataState.ERROR">
        Error.....
      </ng-container>

      <ng-container *ngSwitchCase="DataState.LOADING">
        Loading......
      </ng-container>

      <ng-container *ngSwitchCase="DataState.LOAD">
        <app-item-task [tasks]="result.data" (getDeleteTask)="deleteTask($event)" (getEditTask)="editTask($event)" ></app-item-task>
      </ng-container>
    </ng-container>
</div>

