<div class="row mt-4 container-fluid">
  <div class="row">
    <div class="col-md-1 m-lg-5 border-end">
      <h5>Filter <i class="fa fa-1x fa-filter"></i></h5>
      <ul class="nav flex-column">
        <li class="nav-item ">
          <a class="nav-link active clickable">All</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link active clickable">Weak</a>
        </li>
        <li class="nav-item">
          <a class="nav-link clickable">Middle</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link clickable">High</a>
        </li>
      </ul>
    </div>

    <div class="col-md-9">

      <ng-container *ngIf="tasks$|async as result" [ngSwitch]="result.state">
        <h2 class="text-center fst-italic" *ngIf="result.data?.length"><u>List of tasks</u></h2>

        <ng-container *ngSwitchCase="DataState.ERROR">
          Error.....
        </ng-container>

        <ng-container *ngSwitchCase="DataState.LOADING">
          Loading......
        </ng-container>

        <ng-container *ngSwitchCase="DataState.LOAD">
          <app-item-task [tasks]="result.data" (getDeleteTask)="deleteTask($event)"
                         (getEditTask)="editTask($event)"></app-item-task>
        </ng-container>
      </ng-container>
    </div>
  </div>


</div>

